*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
    color: white;
    &::-webkit-scrollbar{
        display: none;
    }
}
.section-title{
    display: flex;
    flex-direction: column;
    align-items: center;

    .subtitle{
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 10px;
        color: #474747;
        margin-bottom: 27px;
    }

    .tilte{
        font-size: 46px;
        font-weight: bold;
        color: #2D2D2D;
    }
}
.container{
    max-width: 1591px;
}
@import "./section/nav";
@import "./section/slider";
@import "./section/activites";
@import "./section/about-us";
// @import "./section/beauties";
@import "./section/network";
@import "./section/avis";
@import "./section/footer";
@import "./section/hotels.scss"
