.about-us {
    padding: 64px 221px 208px 221px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .about-us__content {
        padding-top: 116px;
        display: flex;
        color: black;

        .about-us__content_img {
            width: 872px;
        }
        .about-us__content_informations{
            padding-left: 165px;
            position: relative;
            .about-us__content_information{
                span{
                    position: absolute;
                    color: #9B9B9B;
                    font-size: 26px;
                    font-weight: 500;
                    left: 93px;
                }
                label{
                    font-size: 32px;
                    font-weight: bold;
                    padding-left: 2px;
                    color: #3D3D3D;
               
                }
                p{
                    padding-top: 20px;
                    padding-bottom: 70px;
                    font-size: 16px;
                    font-weight: 500;
                    color: #6D6D6D;
                }
            }
        }
    }
}