.beauties {
    position: relative;
    max-width: 100%;

    .beauties__content {
        position: relative;
        .beauties__content__upper-part {
            z-index: 1;
            padding-top: 95px;
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;
            color: black;

            .upper-part__img {
                display: flex;
                flex-direction: column;

                img {
                    width: 507px;
                    height: 323px;
                    margin: 0px 18px 11px 18px;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    label {
                        font-size: 30px;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding-right: 40px;
                        margin-left: 18px;
                    }
                    span {
                        width: 20px;
                        height: 20px;
                        background-image: url("../../assets/Rating\ Star.svg");
                        background-size: cover;
                    }

                    img {
                        width: 20px;
                        height: 20px;
                        margin: 0;
                    }
                }
                p{
                    color: #959595;
                    margin-left: 19px;
                    padding-top: 14px;
                }
            }
        }
        .beauties__lower-part{
            z-index: 0;
            position: absolute;
            width: 100%;
            max-width: 100%;
            display: flex;
            justify-content: space-between;
            color: black;
            height: 569px;
            background-color: #F4F4F4;
            margin-top: 271px;
            padding: 323px 228px 0px 228px;

            div{
                height: 101px;
                position: relative;
                label{
                    font-size: 12px;
                    font-weight: 600;
                    color: #9B9B9B;
                }
                select{
                    border: solid 1px #DBDBDB;
                    background-color: rgba($color: #fff, $alpha: 0);
                    font-size: 18px;
                    font-weight: 500;
                    color: #4E4E4E;
                    letter-spacing: 1px;
                    width: 321px;
                    height: 75px;
                    display: flex;
                    align-items: center;
                    padding-left: 22px;
                    border-radius: 5px;
                    margin-top: 11px;
                    appearance: none;
                    font-family: Montserrat;
                }
                img{
                    position: absolute;
                    left: 273px;
                    top: 67px;
                }
                button{
                    border: none;
                    width: 261px;
                    height: 75px;
                    background-color: #3D3D3D;
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 5px;
                    border-radius: 5px;
                    margin-top: 31px;
                    letter-spacing: 10px;
                    font-family: Montserrat;

                }
            }
        }
    }
}